<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand logo-text">lokal</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">About</a>
            <a class="nav-link" href="/login">Log in</a>
            <a class="nav-link" href="/register">Register</a>
        </nav>
    </div>
</header>