<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand logo-text">lokal</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="/post">Post</a>
            <a class="nav-link" href="/logout">Logout</a>
        </nav>
    </div>
</header>