<%- include('partials/header', {title: 'Login'}); %> 

<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('partials/navbar_loggedout') -%> 

        <main class="inner cover">
            <div class="form-login">
                <div class="form lead">
                    <form action="/login" method="POST" onsubmit="return validateForm()">
                        <h3 class="form-heading lead">Login</h3>
                        <label for="email">Username/Email</label><br>
                        <input type="email" class="form-control lead" name="email"><br>
                        <label for="password">Password</label><br>
                        <input type="password" class="form-control lead" name="password"><br>
                        <input type="submit" value="Login" class="btn btn-dark"><br>
                        <a href="register" style="font-size: medium;">Don't have an account?</a>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>

</html>