<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
    <div class="form-div bg-light">
        <h3 class="form-heading">Login</h3>
        <form action="/register" method="POST" style="width: 75%;">
            <label for="email">Email</label><br>
            <input type="email" class="form-control" name="email"><br>
            <label for="password">Password</label><br>
            <input type="password" class="form-control" name="password">
            <label for="location">Location</label><br>
            <input type="number" class="form-control" name="zipCode" placeholder="zipcode"><br>
            <input type="submit" value="Register" class="btn btn-dark">
        </form>
    </div>
</body>
</html>