<%- include('partials/header', {title: 'Register'}); %>

<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand logo-text">lokal</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">About</a>
                    <a class="nav-link" href="/login">Log in</a>
                    <a class="nav-link active" href="#">Register</a>
                </nav>
            </div>
        </header>

        <main class="inner cover">
            <div class="form-login">
                <div class="form lead">
                    <form action="/register" method="POST" onsubmit="return validateForm()">
                        <h3 class="form-heading lead">Register</h3>
                        <label for="email">Email</label><br>
                        <input type="email" class="form-control lead" name="email"><br>
                        <label for="email">Username</label><br>
                        <input type="text" class="form-control lead" name="username"><br>
                        <label for="zipCode">Zip Code</label><br>
                        <input type="zipCode" class="form-control lead" name="zipCode"><br>
                        <label for="password">Password</label><br>
                        <input type="password" class="form-control lead" name="password"><br>
                        <input type="submit" value="Register" class="btn btn-dark"><br>
                        <a href="login" style="font-size: medium;">Already have an account?</a>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>

</html>