<%- include('partials/header', {title: 'lokal'}); %>


<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('partials/navbar_loggedout') -%> 

        <main role="main" class="inner cover">
            <h1 class="cover-heading logo-text">lokal</h1>
            <p class="lead">lokal is a location based networking platform. You only see posts from people near you. And
                only people near you can see your posts.</p>
            <p class="lead">
                <a href="register" class="btn btn-lg btn-secondary">Sign up</a>
            </p>
        </main>

        <%- include('partials/footer') -%>
    </div>
</body>
</html>